@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";

p+p {
    text-indent: 0;
    margin-top: 0;
}

p {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

ul, ol {
    max-width: 80ch;
    margin-left: 0;
    margin-right: auto;
}

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: "cursive"
}

/**
 * PACE (automatic pre-loader thingy)
 */

img{
    width: 100%;
    height: 100%;

}

body {
background-color:rgba(230,230,250, 0.8);
    font-family: "cursive";
    color: #235166;
    font-size: 55px;
    box-sizing: border-box;
    -webkit-text-stroke: white;
    height: 100%;
    width:100%;
}


.bgClip {
    background:url('paisley.jpg');
    background-repeat:repeat-x;
    background-position:0 0;
    font-size:200px;
    text-transform:uppercase;
    text-align:center;
    font-family:'Luckiest Guy';
    color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:0;
/* Now we just want to add a little animation to make the background more enticing: */
    -webkit-animation:BackgroundAnimated 15s linear infinite;
    -moz-animation:BackgroundAnimated 15s linear infinite;
    -ms-animation:BackgroundAnimated 15s linear infinite;
    -o-animation:BackgroundAnimated 15s linear infinite;
    animation:BackgroundAnimated 15s linear infinite;
}
    @keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
    @-webkit-keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}


.detailImage {
    width: 100%;
    height: 100%;
}

.objectTitle  {
    vertical-align: top;
    height: 100%;
    width: 100%;
}


.object  {
    top: 0;
    margin-top: 0%;
    margin-left: 10%;
    margin-bottom: 3%;
    border-width: 7px;
    display: inline-block;
    height: 10%;
    width: 30%;
    font-size: 30px;
    border-style: dotted;
    border-color: white;
    background-color: rgba(220,211,193, .5);
    text-align: center;
     box-shadow: 10px 10px 5px #888888;
     vertical-align: top;

}


.object:hover  {
    top: -5px;
    margin-top: -2%;
    margin-left: 8.5%;
    margin-right: 1.5%;
    margin-bottom: 5%;
    border-width: 7px;
    display: inline-block;
    height: 10%;
    width: 30%;
    font-size: 30px;
    border-style: dotted;
    border-color: white;
    background-color: rgba(220,211,193, .5);
    text-align: center;
     box-shadow: 25px 25px 25px #888888;
     vertical-align: top;

}

.detail{
    text-align: center;
    margin-left: 2%;
    color: rgba(220,211,193, 1);
    margin-top: 2%;
    text-decoration: underline;
    text-decoration-color: white;
}

.underlay {
    width: 100%;
    background-color:   rgba(230,230,250, 0.8);
    z-index: 1;
    margin: 0;
    padding-top:5%;

}
.listingContainer {
    background:url('paisley.jpg');
    width: 80%;
    border-width: 5px;
    border-style: dotted;
    border-color: white;
    z-index: 0;
    padding: 0%;
    display: block;
    margin: auto;
}


#title {
    text-align: center;
    font-size: 93px;
    border-width: 5px;
    border-style: dashed;
    color: #235166;
    -webkit-text-stroke: white;
    font-weight: bold;
     background-color:  rgba(230,230,250, 0.8);
    border-color: white;
   
    
}

.detail {
    font-size: 20px;
    width: 100%;
    height: 100%;
}
.words {
    vertical-align: top;
    display: inline-block;
    border-width: 5px;
    border-style: dashed;
    border-color: white;
    left: 0;
    width: 17%;
    margin: 0;
}
.words h1{

    display: inline-block;
    left: 0;
    margin-left: 0;
    margin-bottom:0;
    margin-top: 0;
    font-size:30px;
    padding: 0;
    border-width: 5px;
    border-style: dashed;
    color: turquoise;
    background-color:   rgba(230,230,250, 0.8);
    border-color: white;
    -webkit-text-stroke: .9 px black;

}

.image {
    position: relative;
    display: inline-block;
    top: 0;
    border-width: 5px;
    border-style: dotted;
    border-color: white;
    padding: 0;
    margin-left: 10%;
    vertical-align:top;
    margin-top: 0;
    margin-bottom: 4%;
 
}

h2 {
    margin: 1%;
    text-align: center;
    color: turquoise;
}


@media only screen and (max-width: 640px) {
  
  .object  {
    display: block;
    width: 70%;
  }

  .object:hover  {
    display: inline-block;
    width: 70%;

}

    
}
